@model InsideAirbnb.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/js/mapbox.js" asp-append-version="true"></script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="map-container" style="height: 100vh">
    <div id='map' style="height:100%;width: 80%; float: left"></div>
    <div id='feature-listing' class='listing'></div>
    <nav id='filter-group' class='filter-group'></nav>
    <div class="map-sidebar" style="float: right">
        <div class="sidebar_header">
            <div class="header_left">
                <h3 id="filter_value">Amsterdam</h3>
                <label for="map_filter">Filter by:</label><br />
                <select class="form-control" id="map_filter">
                    <option value="Amsterdam">Amsterdam</option>
                    <optgroup label="neighbourhood">
                        @foreach (var item in Model.neighbourhoods)
                            {<option value="@item.Neighbourhood">@item.Neighbourhood</option>}
                    </optgroup>
                    <optgroup label="price">
                        <option value="50"><= 50</option>
                        <option value="100"><= 100</option>
                        <option value="200"><= 200</option>
                        <option value="400"><= 400</option>
                        <option value="800"><= 800</option>
                        <option value="1000"><= 1000</option>
                        <option value="1000+">> 1000</option>
                    </optgroup>
                    <optgroup label="Reviews">
                        <option value="Amsterdam">LOAD ALL REVIEWS</option>
                    </optgroup>
                </select>
            </div>
            <div class="header_right">
                <h3 id="number_listings_loaded">#NUMBER LISTINGS LOADED</h3>
            </div>
        </div>
    </div>
</div>