@model InsideAirbnb.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/js/mapbox.js" asp-append-version="true"></script>
}
<div class="map-container row" style="height: 100vh">
    <div id='map' style="height:calc(100%)" class="col-md-8"></div>
    <div id='feature-listing' class='listing'></div>
    <nav id='filter-group' class='filter-group'></nav>
    <div class="map-sidebar col-md-4">
        <div class="row">
            <div class="col-md-6">
                <h3 id="filter_value">Amsterdam</h3>
                <label for="map_filter">Filter by:</label><br />
                <select class="form-control" id="map_filter">
                    <option value="Amsterdam">Amsterdam</option>
                    <optgroup label="neighbourhood">
                        @foreach (var item in Model.neighbourhoods)
                        {
                            <option value="@item.Neighbourhood">@item.Neighbourhood</option>}
                    </optgroup>
                    <optgroup label="price">
                        <option value="50"><= 50</option>
                        <option value="100"><= 100</option>
                        <option value="200"><= 200</option>
                        <option value="400"><= 400</option>
                        <option value="800"><= 800</option>
                        <option value="1000"><= 1000</option>
                        <option value="1000+">> 1000</option>
                    </optgroup>
                    <optgroup label="review rating">
                        <option value="10"><= 10</option>
                        <option value="20"><= 20</option>
                        <option value="30"><= 30</option>
                        <option value="40"><= 40</option>
                        <option value="50"><= 50</option>
                        <option value="60"><= 60</option>
                        <option value="70"><= 70</option>
                        <option value="80"><= 80</option>
                        <option value="90"><= 90</option>
                        <option value="100"><= 100</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-md-6">
                <h3># <text id="number_listings_loaded"></text> NUMBER LISTINGS LOADED</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <p><b>How is Airbnb really being used in and affecting your neighbourhoods?</b></p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>Room Type</b>
            </div>
            <div class="col-md-6">
                <label for="apartmentFilterCheckbox" style="font-size:10px">
                    Only entire homes/apartments
                    <input id="apartmentFilterCheckbox" type="checkbox" name="filterApertmentsOnly" style="float:left" />
                </label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <p>
                    Airbnb hosts can list entire homes/apartments, private or shared rooms.
                    Depending on the room type, <a href="#">availability</a>, and <a href="#">activity</a>, an airbnb listing could be more like a hotel, disruptive for neighbours, taking away housing, and <a href="#">illigal</a>.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    INSERT GRAPH HERE
                </p>
            </div>
            <div class="col-md-4">
                <div class="row" style="text-align: right">
                    <div class="col-md-12">
                        <span id="entireHomeApartmentsPercentage">NNN (%%)</span>
                    </div>
                    <p style="font-size:12px;">Entire homes/apartments</p>
                </div>
                <div class="row" style="text-align: right">
                    <div class="col-md-12">
                        <span>PRICE</span>
                    </div>
                    <p style="font-size:12px;">price/night</p>
                </div>
                <div class="row" style="text-align: right">
                    <div class="col-md-12">
                        <span id="EntireHomeCount">(COUNT) (%%)</span>
                    </div>
                    <p style="font-size:12px;">Entire homes/apartments</p>
                </div>
                <div class="row" style="text-align: right">
                    <div class="col-md-12">
                        <span>(COUNT) (%%)</span>
                    </div>
                    <p style="font-size:12px;">private rooms</p>
                </div>
                <div class="row" style="text-align: right">
                    <div class="col-md-12">
                        <span>(COUNT) (%%)</span>
                    </div>
                    <p style="font-size:12px;">shared rooms</p>
                </div>
            </div>
        </div>
        <br />
        @* 
            End graph section right side 
            Start Activity Tab
        *@
        <div class="row">

        </div>
    </div>
</div>