@model InsideAirBnBV5.Models.Viewmodels.NeighbourhoodsViewModel
@{
    ViewData["Title"] = "NEighbourhoods Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{ 
    foreach (var item in Model.neighbourhoods)
    {
    <p>@item.Neighbourhood</p>
    }
}