@model IEnumerable<Neighbourhoods>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="map-container" style="height: 100vh">
    <div id='map' style="height:100%;width: 80%; float: left"></div>
    <div class="map-sidebar" style="float: right">
        <div class="sidebar_header">
            <div class="header_left">
                <h3 id="filter_value">Amsterdam</h3>
                <label for="map_filter">Filter by:</label><br />
                <select id="map_filter" onchange="changedFilter();">
                    <option value="Amsterdam">Amsterdam</option>
                    <optgroup label="Neighbourhoods">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Neighbourhood">@item.Neighbourhood</option>
                        }
                    </optgroup>
                    <optgroup label="Price">
                        <option value="Amsterdam">LOAD ALL PRICES</option>
                    </optgroup>
                    <optgroup label="Reviews">
                        <option value="Amsterdam">LOAD ALL REVIEWS</option>
                    </optgroup>
                </select>
            </div>
            <div class="header_right">
                <h3 id="number_listings_loaded">#NUMBER LISTINGS LOADED</h3>
            </div>
        </div>
    </div>
</div>
<script src="~/js/MapAPI.js"></script>