@model IEnumerable<Listings>
@{
    ViewData["Title"] = "test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the neighbourhoods page</h1>
    <p>Here you can see a list of neighbourhoods.</p>
</div>
